@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.navegacion{
    background: rgba(0,0,0,0.5);
    width: 100%;
    position: fixed;
}

.sobremi{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav {
    background-color: #37c2e8;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    padding: 30px;
}

nav ul li:hover {
    background-color: rgb(218, 214, 214, 0.5);
    color: black;
}

nav a {
    color: #f6f4eb;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    text-align: center;
    display: block;
}

.banner{
    width: auto;
    height: 100vh;
    background-image: url(../img/place.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-attachment: fixed;   
}

.informacion{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.principal{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1) ;
}
.principal .contacto{
    position: relative;
    background: #06435f;
    padding: 40px;
}
.informacion .foto{
    position: relative;
    overflow: hidden;
    padding: 10px;
    border-radius: 20%;
}
.informacion h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.informacion h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactoinfo{
    padding-top: 40px;

}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactoInfo ul{
    position: relative;
}
.contactoInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactoInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #0aa8f1;
}
.contactoInfo ul li span{
    color: #fff;
    font-weight: 300;
}

.educacionInfo li{
    margin-bottom: 15px;
    list-style: none;
}
.educacionInfo h5{
    color: #0aa8f1;
    font-weight: 500;
    
}
.educacionInfo h4{
    color: #fff;
    font-weight: 500;
}

.principal .perfil{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}

.title2{
    color: #003147;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.about .box{
    display:flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .company{
    min-width: 150px;
}
.about .box .company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.redes{
    text-align: center;
    background-attachment: fixed;
}

.redes ul{
    display: grid;    
    position: absolute;
    grid-template-columns: repeat(4,2fr);
}
.redes ul li{
    list-style: none;
}

.redes a{
    float: right;
}
.redesIndex{
    text-align: center;
    background-attachment: fixed;
}
.redesIndex ul{
    display: grid;    
    position: absolute;
    grid-template-columns: repeat(4,2fr);
    margin-left: 20px;
    margin-bottom: 30px;

}
.redesIndex ul li{
    list-style: none;
    margin: 5px;
}

.pie{
    background-color: rgb(115, 111, 111);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}


@media (max-width: 1000px)
{
    .principal{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}